*{
    margin:0;
}

main{
    margin: 0 auto;
    width: 800px;
    background-color: white;
    padding: 0px 0px 100px 0px;
}

img {
    display: block;
    margin: auto;
    width: max-width;
}

ul {
    list-style-type: none;
    margin-top: 150px;
    padding: 0;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


header {
    background-image: url('grfx/header.jpg');
    width: 800px;
    height: 268px; 
}

img.vlootlinks {
    float:left;
    margin: 10px;
    
}

img.vlootrechts {
    float:right;
    margin: 10px;
    
}

body {
    background-image: url('grfx/bg.png');
    background-repeat: repeat-x;
}

.margin {
    margin: 10px
}

.active {
    color:black;
}